<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Table of users</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <form th:method="GET" th:action="@{user-update/{id}(id=${user.id})}">
                <input type="submit" value="Update"/>
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{user-delete/{id}(id=${user.id})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:method="GET" th:action="@{user-create}">
    <input type="submit" value="Create new user"/>
</form>
</body>
</html>
