<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update user</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <br/>
  <label for="surname">Surname</label>
  <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
  <br/>
  <label for="age">Age</label>
  <input type="text" th:field="*{age}" id="age" placeholder="Age">
  <br/>
  <input type="submit" value="Update">
</form>
</body>
</html>