<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <label for="surname">Surname</label>
  <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
  <label for="age">Age</label>
  <input type="text" th:field="*{age}" id="age" placeholder="Age">
  <input type="submit" value="Create">
</form>
</body>
</html>
